
<div *ngIf="!ready; else play" style="text-align: center;">
    <h1>Welcome to AngularCraps</h1>
    <h3>Start by giving your name</h3>
    <hr/>
    <br/>
    <form #loginform="ngForm">
        <label for="player">Name</label>
        <br/>
        <input type="text" name="player" [(ngModel)]="player"/>
        <br/>
        <button class="btn btn-primary" (click)="setPlayer()">Start Playing</button>
    </form>
</div>
<ng-template #play>
    <div style="text-align: center;">
        <h2>Welcome {{name}}</h2>
        <p>You have {{credits}} credits.</p>
    </div>
    <br/>
    <hr/>
    <div style="text-align: center;">
        <h2>Craps: Pass line</h2>
        <br/>
        <button mat-raised-button color="primary" (click)="startPassLine()">Start</button>
    </div>
    <br/>
    <hr/>
    <div style="text-align: center;">
        <h2>Craps: Don't pass</h2>
        <br/>
        <button mat-raised-button color="primary" (click)="startDontPass()">Start</button>
    </div>
</ng-template>